
<p>You will find in this section the developer API documentation.</p>

<p>This won't be useful for end-user, except if you want to learn and masterise
the full synchronization process.</p>

<p>Before starting developing against this module, you should start by reading
the whole entities piece of code explaination, which will explain to you why
the data is abstracted, how it is abstracted, and what complexity is hidden to
entities developers.</p>

<p>Beyond this fact, you must know that the best mean to understand what the
module really does is by reading the code yourself. The core part is not that
complex, and OO layer will help you to abstract some complex parts you don't
really want to know about.</p>
