
<p>Now that you read how the module works, we are going to set up a basic test
environment.</p>

<h3>Pre-requisite</h3>

<p>First, you need to have at least 2 Drupal instances</p>
<ul>
  <li>A <b>master</b>, which will <b>push</b> the synchronize order;</li>
  <li>A <b>slave</b>, which will <b>pull</b> content and update it locally.</li>
</ul>

<p>You can install both Drupal on the same physical machine, or over a network
in which then can communicate.</p>

<h3>Software installation</h3>

<p>On server, enable this modules:</p>
<ul>
  <li>Yamm API</li>
  <li>Yamm server</li>
</ul>

<p>On client, enable this modules:</p>
<ul>
  <li>DataSync</li>
  <li>Yamm API</li>
  <li>Yamm client</li>
</ul>

<p>You are ready to go, proceed to the next step.</p>
